$lightAccent = #ACD8E3
$accent = #3088B2
$darkAccent = #1E2E63
$errorColor = #7D2949
$warningColor = #C98F39
$successColor = #30C67E
$snow = #f0f0f0

$br = 0.3rem

shad =
    box-shadow 0 0.35rem 0.5rem -0.25rem rgba(0, 0, 0, 0.27)
shadamb =
    box-shadow 0 0.5rem 1rem rgba(0, 0, 0, 0.27)

trans =
    transition 0.25s ease all

@require './typography/**/*.styl'
@require './inputs/**/*.styl'
@require './other/**/*.styl'
@require './buildingBlocks/**/*.styl'
@require './tags/**/*.styl'