.anErrorBlock, .anInfoBlock
    border 2px solid
    padding 1rem 2rem 1rem 3rem
    border-radius $br

.anInfoBlock
    border-color $accent
    icon('info', $accent)
    background-repeat no-repeat
    background-position 1rem center
    background-size 1.5rem 1.5rem

.anErrorBlock
    border-color $errorColor
    icon('alert-octagon', $errorColor)
    background-repeat no-repeat
    background-position 1rem center
    background-size 1.5rem 1.5rem
